.terrain-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.terrain-input {
	padding:1rem;
}

.terrain-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.terrain-generator {}

.terrain-generated-content {

}
