.card-display {
	width:100%;
	height: 100%;
	overflow:hidden;
}

.card-scroller {
	height:90%;
	overflow-y: scroll;
}

.card-display-title {
	font-size:2.2rem;
	font-weight: bold;
	text-transform:capitalize;
	padding-bottom:2rem;
	color: var(--fg-secondary);
}

@media (min-width: 800px) {
	.card-display {
		width:100%;
		height: 100%;
		padding-top:2rem;
		padding-left:2rem;
		overflow:hidden;
	}
}
