.radio-group {
	display:flex;
	flex-flow: wrap row;
	padding:1rem;
}
.radio-button {
	display:flex;
	flex-direction: row;
	align-items: center;
	margin-right:2rem;
	cursor: default;
}
.radio-indicator {
	display:block;
	height:1rem;
	width:1rem;
	border-radius:0.5rem;
	background-color:var(--bg-secondary);
	margin-right:1rem;
	cursor: default;
}
.radio-indicator.selected {
	background-color:var(--c9);
}
.radio-label {
	cursor: default;
}
