/*
 *
#06080a black
rgb(6, 8, 10)

#0d1014 lighter black
rgb(13, 16, 20)
 */
:root {
	--fg-primary: #06080a;
	--fg-secondary: #0d1014;
	--bg-primary: #e6eaef;
	--bg-secondary: #cdd5df;
	--c0: #00b862;
	--c1: #ffbe0b;
	--c2: #fd8a09;
	--c3: #fb5607;
	--c4: #fd2b3b;
	--c5: #ff006e;
	--c6: #c11cad;
	--c7: #8338ec;
	--c8: #5f5ff6;
	--c9: #3a86ff;

	--fg-primary-05: rgba(6,8,10, 0.5);
	--fg-secondary-05: rgba(13,16,20, 0.5);
	--bg-primary-05: rgba(230, 234, 239, 0.5);
	--bg-secondary-05: rgba(205, 213, 223, 0.5);
	--c0-05: rgba(0, 184, 98, 0.5);
	--c1-05: rgba(255, 190, 11, 0.5);
	--c2-05: rgba(253, 138, 9, 0.5);
	--c3-05: rgba(251, 86, 7, 0.5);
	--c4-05: rgba(253, 43, 59, 0.5);
	--c5-05: rgba(255, 0, 110, 0.5);
	--c6-05: rgba(193, 28, 173, 0.5);
	--c7-05: rgba(131, 56, 236, 0.5);
	--c8-05: rgba(95, 95, 246, 0.5);
	--c9-05: rgba(58, 134, 255, 0.5);
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg-primary: #e6eaef;
		--fg-secondary: #cdd5df;
		--bg-primary: #06080a;
		--bg-secondary: #0d1014;
		--c0: #00b862;
		--c1: #ffbe0b;
		--c2: #fd8a09;
		--c3: #fb5607;
		--c4: #fd2b3b;
		--c5: #ff006e;
		--c6: #c11cad;
		--c7: #8338ec;
		--c8: #5f5ff6;
		--c9: #3a86ff;

		--fg-primary-05: rgba(230, 234, 239, 0.5);
		--fg-secondary-05: rgba(205, 213, 223, 0.5);
		--bg-primary-05: rgba(6,8,10, 0.5);
		--bg-secondary-05: rgba(13,16,20, 0.5);
		--c0-05: rgba(0, 184, 98, 0.5);
		--c1-05: rgba(255, 190, 11, 0.5);
		--c2-05: rgba(253, 138, 9, 0.5);
		--c3-05: rgba(251, 86, 7, 0.5);
		--c4-05: rgba(253, 43, 59, 0.5);
		--c5-05: rgba(255, 0, 110, 0.5);
		--c6-05: rgba(193, 28, 173, 0.5);
		--c7-05: rgba(131, 56, 236, 0.5);
		--c8-05: rgba(95, 95, 246, 0.5);
		--c9-05: rgba(58, 134, 255, 0.5);
	}
}
/*!
  * Milligram v1.4.1
  * https://milligram.io
  *
  * Copyright (c) 2020 CJ Patoilo
  * Licensed under the MIT license
 */


*,
*:after,
*:before {
  box-sizing: inherit;
}

html, body {
	margin:0;
	padding:0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: var(--fg-primary);
	background-color: var(--bg-primary);
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
	overflow:auto;
}

blockquote {
  border-left: 0.3rem solid var(--bg-secondary);
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}

blockquote *:last-child {
  margin-bottom: 0;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: var(--bg-secondary);
  border: 0.1rem solid var(--bg-secondary);
  color: var(--fg-primary);
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: var(--bg-secondary-05);
  border-color: var(--bg-secondary-05);
  color: var(--fg-primary);
  outline: 0;
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  cursor: default;
  opacity: .5;
}

.button[disabled]:focus, .button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
  background-color: var(--bg-secondary);
  border-color: var(--bg-secondary);
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: var(--fg-secondary);
}

.button.button-outline:focus, .button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
  background-color: transparent;
  border-color: var(--bg-secondary);
  color: var(--fg-secondary);
}

.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
  border-color: inherit;
  color: var(--fg-secondary);
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: var(--fg-secondary);
}

.button.button-clear:focus, .button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--fg-primary);
}

.button.button-clear[disabled]:focus, .button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
  color: var(--fg-secondary);
}

code {
  background: var(--bg-secondary);
  font-size: 86%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre {
  background: var(--bg-secondary);
  overflow-y: hidden;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

hr {
  border: 0;
  border-top: 0.1rem solid var(--bg-secondary);
  margin: 3.0rem 0;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0.1rem solid var(--bg-secondary);
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem .7rem;
  width: 100%;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  border-color: var(--bg-secondary);
  outline: 0;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
  padding-right: 3.0rem;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%239b4dca" d="M0,0l6,8l6-8"/></svg>');
}

select[multiple] {
  background: none;
  height: auto;
}

textarea {
  min-height: 6.5rem;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

.container {
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.row.row-no-padding {
  padding: 0;
}

.row.row-no-padding > .column {
  padding: 0;
}

.row.row-wrap {
  flex-wrap: wrap;
}

.row.row-top {
  align-items: flex-start;
}

.row.row-bottom {
  align-items: flex-end;
}

.row.row-center {
  align-items: center;
}

.row.row-stretch {
  align-items: stretch;
}

.row.row-baseline {
  align-items: baseline;
}

.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

.row .column.column-offset-10 {
  margin-left: 10%;
}

.row .column.column-offset-20 {
  margin-left: 20%;
}

.row .column.column-offset-25 {
  margin-left: 25%;
}

.row .column.column-offset-33, .row .column.column-offset-34 {
  margin-left: 33.3333%;
}

.row .column.column-offset-40 {
  margin-left: 40%;
}

.row .column.column-offset-50 {
  margin-left: 50%;
}

.row .column.column-offset-60 {
  margin-left: 60%;
}

.row .column.column-offset-66, .row .column.column-offset-67 {
  margin-left: 66.6666%;
}

.row .column.column-offset-75 {
  margin-left: 75%;
}

.row .column.column-offset-80 {
  margin-left: 80%;
}

.row .column.column-offset-90 {
  margin-left: 90%;
}

.row .column.column-10 {
  flex: 0 0 10%;
  max-width: 10%;
}

.row .column.column-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.row .column.column-25 {
  flex: 0 0 25%;
  max-width: 25%;
}

.row .column.column-33, .row .column.column-34 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.row .column.column-40 {
  flex: 0 0 40%;
  max-width: 40%;
}

.row .column.column-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.row .column.column-60 {
  flex: 0 0 60%;
  max-width: 60%;
}

.row .column.column-66, .row .column.column-67 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.row .column.column-75 {
  flex: 0 0 75%;
  max-width: 75%;
}

.row .column.column-80 {
  flex: 0 0 80%;
  max-width: 80%;
}

.row .column.column-90 {
  flex: 0 0 90%;
  max-width: 90%;
}

.row .column .column-top {
  align-self: flex-start;
}

.row .column .column-bottom {
  align-self: flex-end;
}

.row .column .column-center {
  align-self: center;
}

@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }
}

a {
  color: var(--fg-secondary);
  text-decoration: none;
}

a:focus, a:hover {
  color: var(--fg-primary);
}

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 90%;
  margin: 1.5rem 0 1.5rem 3.0rem;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

.button,
button,
dd,
dt,
li {
  margin-bottom: 1.0rem;
}

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem;
}

table {
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  width: 100%;
}

td,
th {
  border-bottom: 0.1rem solid var(--bg-secondary);
  padding: 1.2rem 1.5rem;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

@media (min-width: 40rem) {
  table {
    display: table;
    overflow-x: initial;
  }
}

b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

main {
	display: flex;
	flex-direction: column;
	margin:2rem;
}

@media (min-width: 800px) {
	body {
		overflow: hidden;
	}
	main {
		display: grid;
		grid-template-columns: minmax(20%, 250px) 1fr;
		height: calc(100vh - 2rem);
		margin:2rem;
		overflow:hidden;
	}
}

.blur {
	filter: blur(0.25rem);
}
.card-display {
	width:100%;
	height: 100%;
	overflow:hidden;
}

.card-scroller {
	height:90%;
	overflow-y: scroll;
}

.card-display-title {
	font-size:2.2rem;
	font-weight: bold;
	text-transform:capitalize;
	padding-bottom:2rem;
	color: var(--fg-secondary);
}

@media (min-width: 800px) {
	.card-display {
		width:100%;
		height: 100%;
		padding-top:2rem;
		padding-left:2rem;
		overflow:hidden;
	}
}
.overlay {
	position:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:var(--bg-secondary-05);
}

.overlay.hide {
	display:none;
}

.overlay-content {
	background-color:var(--bg-primary);
	width:90%;
	height:fit-content;
	max-height:90%;
	overflow:auto;
}

.overlay-title {
	font-size: 2.2rem;
	font-weight: bold;
	text-transform: capitalize;
}

.overlay-label {
	font-size: 1.8rem;
	font-weight: bold;
}

.overlay-button-bar {
	margin-top:1rem;
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
}

.overlay-generate-display {}
.overlay-generate-button {}

.collapse-container.open {
	display:block
}
.collapse-container.close {
	display:none
}

.cancel-button,
.cancel-button:hover {
	color: var(--c9);
	transition: all 0.25s;
}

.delete-button,
.delete-button:hover {
	color: var(--c5);
	transition: all 0.25s;
}

.apply-button,
.apply-button:hover {
	color: var(--c0);
	transition: all 0.25s;
}

.cancel-button:disabled,
.delete-button:disabled,
.apply-button:disabled {
}

@media (min-width: 800px) {
	.overlay-content {
		background-color:var(--bg-primary);
		width:50%;
		min-width:72rem;
		height:fit-content;
		max-height:80%;
		overflow:auto;
	}
}
.control-panel {
	width:100%;
	height:100%;
	overflow-y:scroll;
}
.set-the-scene-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.set-the-scene-input {
	padding:1rem;
}

.set-the-scene-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.set-the-scene-generator {}

.set-the-scene-generated-content {

}
.add-story-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.add-story-input {
	padding:1rem;
}

.add-story-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}
.player-action-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.player-action-input {
	padding:1rem;
}

.player-action-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}
.plot-hook-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.plot-hook-input {
	padding:1rem;
}

.plot-hook-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.plot-hook-generator {}

.plot-hook-generated-content {

}
.pacing-move-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.pacing-move-input {
	padding:1rem;
}

.pacing-move-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.pacing-move-generator {}

.pacing-move-generated-content {

}
.hex-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.hex-input {
	padding:1rem;
}

.hex-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.hex-generator {}

.hex-generated-content {

}
.random-event-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.random-event-input {
	padding:1rem;
}

.random-event-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.random-event-generator {}

.random-event-generated-content {

}
.npc-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.npc-input {
	padding:1rem;
}

.npc-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.npc-generator {}

.npc-generated-content {

}
.features-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.features-input {
	padding:1rem;
}

.features-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.features-generator {}

.features-generated-content {

}
.failure-move-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.failure-move-input {
	padding:1rem;
}

.failure-move-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.failure-move-generator {}

.failure-move-generated-content {

}
.dungeon-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.dungeon-input {
	padding:1rem;
}

.dungeon-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.dungeon-generator {}

.dungeon-generated-content {

}
.terrain-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.terrain-input {
	padding:1rem;
}

.terrain-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.terrain-generator {}

.terrain-generated-content {

}
.oracle-yesno-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.oracle-yesno-input {
	padding:1rem;
}

.oracle-yesno-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.oracle-yesno-generator {}

.oracle-yesno-generated-content {

}
.oracle-action-focus-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.oracle-action-focus-input {
	padding:1rem;
}

.oracle-action-focus-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.oracle-action-focus-generator {}

.oracle-action-focus-generated-content {

}
.oracle-detail-focus-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.oracle-detail-focus-input {
	padding:1rem;
}

.oracle-detail-focus-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.oracle-detail-focus-generator {}

.oracle-detail-focus-generated-content {

}
.oracle-how-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.oracle-how-input {
	padding:1rem;
}

.oracle-how-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.oracle-how-generator {}

.oracle-how-generated-content {

}
.oracle-topic-focus-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.oracle-topic-focus-input {
	padding:1rem;
}

.oracle-topic-focus-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.oracle-topic-focus-generator {}

.oracle-topic-focus-generated-content {

}
.oracle-general-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.oracle-general-input {
	padding:1rem;
}

.oracle-general-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.oracle-general-generator {}

.oracle-general-generated-content {

}
.new-game-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.new-game-input {
	padding:1rem;
}

.new-game-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}
.save-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.save-input {
	padding:1rem;
}

.save-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}
.load-game-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.load-game-input {
	padding:1rem;
}

.load-game-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.load-game-button {
	width:100%;
}

.load-game-selected,
.load-game-selected:hover {
	background-color: var(--c0);
	color: var(--fg-primary);
}
.button-group {
	display: flex;
	flex-direction: column;
}

.button-group > .title {
	font-size:2rem;
	font-weight: bold;
}

.button-group.actions > button,
.button-group.actions > .title {
	color: var(--c0);
}

.button-group.askthegm > button,
.button-group.askthegm > .title {
	color: var(--c6);
}

.button-group.generators > button,
.button-group.generators > .title {
	color: var(--c9);
}

.button-group.utilities > button,
.button-group.utilities > .title {
	color: var(--c4);
}
.card {
	color:var(--fg-primary);
	padding:0 2rem;
	padding-bottom:0.5rem;
	margin:3rem 0;
}


.card-header {
	width:100%;
	display:flex;
	flex-direction:row;
	align-items: center;
}

.card-title {
	font-size:1.8rem;
	font-weight: bold;
	color: var(--fg-secondary-05);
}

.card-edit-button,
.card-remove-button {
	padding:0;
	margin:0;
	margin-right: 2rem;
	border:none;
	background-color: transparent;
	transition: all 0.25s;
	color:var(--fg-secondary-05);
	line-height:1.1rem;
	height:1.1rem;
}

.card-edit-button:hover {
	color:var(--c9);
	background-color: transparent;
}

.card-remove-button:hover {
	color:var(--c4);
	background-color: transparent;
}

.card-content:empty {
	display:none;
}

.card-content {
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: var(--bg-secondary);
}

.card-scene {
	padding:0;
	padding-right: 1rem;
	margin-bottom: 1rem;
}

.card-description {
	padding: 0 1rem;
}

.card.actions > .card-description {
	border-left: 0.1rem solid var(--c0);
}

.card.oracles > .card-description {
	border-left: 0.1rem solid var(--c6);
}

.card.generators > .card-description {
	border-left: 0.1rem solid var(--c9);
}

.card.utilities > .card-description {
	border-left: 0.1rem solid var(--c4);
}

.card-item {
	display:flex;
	flex-wrap: row;
}
.card-event-item {
	display:flex;
	flex-wrap: column;
}
.card-item-label {
	font-size:1.2rem;
	text-transform:uppercase;
	color: var(--fg-secondary-05);
}
.card-item-value {
	padding:0 1rem;
	font-size:1.2rem;
	color: var(--fg-secondary);
}
.control-button {
	border:none;
	outline:none;
	width:100%;
	transition: all 0.25s;
}
.radio-group {
	display:flex;
	flex-flow: wrap row;
	padding:1rem;
}
.radio-button {
	display:flex;
	flex-direction: row;
	align-items: center;
	margin-right:2rem;
	cursor: default;
}
.radio-indicator {
	display:block;
	height:1rem;
	width:1rem;
	border-radius:0.5rem;
	background-color:var(--bg-secondary);
	margin-right:1rem;
	cursor: default;
}
.radio-indicator.selected {
	background-color:var(--c9);
}
.radio-label {
	cursor: default;
}
.dice-roller-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.dice-roller-input {
	padding:1rem;
}

.dice-roller-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.dice-roller-generator {}

.dice-roller-generated-content {

}

.dice-roller-container {

}

.fate-dice-container {
	display:flex;
	flex-flow: wrap row;
	justify-content: center;
}

.fate-die-frame {
	width:4rem;
	height:4rem;
	margin-right: 1rem;
	border-radius: 0.2rem;
}

.fate-die-face {
	width:100%;
	height:100%;
	background-color: var(--c9);
}

.fate-roll-result {
	width:4rem;
	height:4rem;
	font-size:4rem;
	font-weight:bold;
	text-align:center;
	line-height:4rem;
}

.fate-roll-result.pos {
	color: var(--c0);
}

.fate-roll-result.neg {
	color: var(--c4);
}

.fate-die-symbol {
	cursor:default;
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
	width:100%;
	height:100%;
	font-size:4rem;
	font-weight:bold;
	text-align:center;
	line-height:3rem;
	color: var(--fg-primary);
}
