.load-game-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.load-game-input {
	padding:1rem;
}

.load-game-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.load-game-button {
	width:100%;
}

.load-game-selected,
.load-game-selected:hover {
	background-color: var(--c0);
	color: var(--fg-primary);
}
