.card {
	color:var(--fg-primary);
	padding:0 2rem;
	padding-bottom:0.5rem;
	margin:3rem 0;
}


.card-header {
	width:100%;
	display:flex;
	flex-direction:row;
	align-items: center;
}

.card-title {
	font-size:1.8rem;
	font-weight: bold;
	color: var(--fg-secondary-05);
}

.card-edit-button,
.card-remove-button {
	padding:0;
	margin:0;
	margin-right: 2rem;
	border:none;
	background-color: transparent;
	transition: all 0.25s;
	color:var(--fg-secondary-05);
	line-height:1.1rem;
	height:1.1rem;
}

.card-edit-button:hover {
	color:var(--c9);
	background-color: transparent;
}

.card-remove-button:hover {
	color:var(--c4);
	background-color: transparent;
}

.card-content:empty {
	display:none;
}

.card-content {
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: var(--bg-secondary);
}

.card-scene {
	padding:0;
	padding-right: 1rem;
	margin-bottom: 1rem;
}

.card-description {
	padding: 0 1rem;
}

.card.actions > .card-description {
	border-left: 0.1rem solid var(--c0);
}

.card.oracles > .card-description {
	border-left: 0.1rem solid var(--c6);
}

.card.generators > .card-description {
	border-left: 0.1rem solid var(--c9);
}

.card.utilities > .card-description {
	border-left: 0.1rem solid var(--c4);
}

.card-item {
	display:flex;
	flex-wrap: row;
}
.card-event-item {
	display:flex;
	flex-wrap: column;
}
.card-item-label {
	font-size:1.2rem;
	text-transform:uppercase;
	color: var(--fg-secondary-05);
}
.card-item-value {
	padding:0 1rem;
	font-size:1.2rem;
	color: var(--fg-secondary);
}
