.button-group {
	display: flex;
	flex-direction: column;
}

.button-group > .title {
	font-size:2rem;
	font-weight: bold;
}

.button-group.actions > button,
.button-group.actions > .title {
	color: var(--c0);
}

.button-group.askthegm > button,
.button-group.askthegm > .title {
	color: var(--c6);
}

.button-group.generators > button,
.button-group.generators > .title {
	color: var(--c9);
}

.button-group.utilities > button,
.button-group.utilities > .title {
	color: var(--c4);
}
