.dice-roller-overlay {
	display:flex;
	flex-direction: column;
	padding:2rem;
}

.dice-roller-input {
	padding:1rem;
}

.dice-roller-input > .text-area {
	width:100%;
	outline:none;
	min-height: 3rem;
	height:fit-content;
	font-size:1.6rem;
	padding:1rem;
	color: var(--fg-primary);
	background-color: var(--bg-secondary);
	max-height:40rem;
	overflow-y:auto;
}

.dice-roller-generator {}

.dice-roller-generated-content {

}

.dice-roller-container {

}

.fate-dice-container {
	display:flex;
	flex-flow: wrap row;
	justify-content: center;
}

.fate-die-frame {
	width:4rem;
	height:4rem;
	margin-right: 1rem;
	border-radius: 0.2rem;
}

.fate-die-face {
	width:100%;
	height:100%;
	background-color: var(--c9);
}

.fate-roll-result {
	width:4rem;
	height:4rem;
	font-size:4rem;
	font-weight:bold;
	text-align:center;
	line-height:4rem;
}

.fate-roll-result.pos {
	color: var(--c0);
}

.fate-roll-result.neg {
	color: var(--c4);
}

.fate-die-symbol {
	cursor:default;
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
	width:100%;
	height:100%;
	font-size:4rem;
	font-weight:bold;
	text-align:center;
	line-height:3rem;
	color: var(--fg-primary);
}
