.overlay {
	position:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:var(--bg-secondary-05);
}

.overlay.hide {
	display:none;
}

.overlay-content {
	background-color:var(--bg-primary);
	width:90%;
	height:fit-content;
	max-height:90%;
	overflow:auto;
}

.overlay-title {
	font-size: 2.2rem;
	font-weight: bold;
	text-transform: capitalize;
}

.overlay-label {
	font-size: 1.8rem;
	font-weight: bold;
}

.overlay-button-bar {
	margin-top:1rem;
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
}

.overlay-generate-display {}
.overlay-generate-button {}

.collapse-container.open {
	display:block
}
.collapse-container.close {
	display:none
}

.cancel-button,
.cancel-button:hover {
	color: var(--c9);
	transition: all 0.25s;
}

.delete-button,
.delete-button:hover {
	color: var(--c5);
	transition: all 0.25s;
}

.apply-button,
.apply-button:hover {
	color: var(--c0);
	transition: all 0.25s;
}

.cancel-button:disabled,
.delete-button:disabled,
.apply-button:disabled {
}

@media (min-width: 800px) {
	.overlay-content {
		background-color:var(--bg-primary);
		width:50%;
		min-width:72rem;
		height:fit-content;
		max-height:80%;
		overflow:auto;
	}
}
